@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --cor-primaria: #151320;
  --cor-sucesso: #00bf8e;
  --cor-alerta: #f7c94b;
  --cor-perigo: #f75842;
  --cor-perigo-variante: rgba(247, 88, 66, 0.4);
  --cor-branco: #fff;
  --cor-clara: rgba(255, 255, 255, 0.7);
  --cor-escura: #000;
  --cor-bg: #1f2641;
  --cor-bg1: #2e3267;
  --cor-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
    
}

* {
    margin: 0;
    padding: 0;
    border: 0;           
    box-sizing: border-box;   
    font-family: "Poppins", sans-serif;   
  }
  
  
  body {    
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: var(--cor-bg);    
    background-image: url(../img/bg-texture.png);
  }

  .seleção {
    padding: 50px 80px;
    border-radius: 8px;
    background: var(--cor-branco);
    text-align: center;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, .1,),
                inset 6px 4px 12px rgba(0, 0, 0, .2);
  }

  .seleção h2 {
    color: var(--cor-perigo);
    font-size: 4rem;
    font-weight: 600;
    font-variant: small-caps;
  }
  
  .seleção p {
    color: var(--cor-escura);
    font-size: 1.5rem;
    font-weight: 500;
    font-variant: small-caps;
    margin-top: 30px;
  }

  .seleção .players {
    width: 100%;
    margin-top: 8px;
  }

  .seleção .players .player {
    cursor: pointer;
    color: var(--cor-perigo);
    width: 5.5rem;
    height: 4rem;
    margin: 0 4px;
    font-size: 2rem;
    border-radius: 4px;
    border: 3px solid #B33951;
    transition: .4s;
  }

  .seleção .players .player:hover {
    color: var(--cor-branco);
    background: var(--cor-perigo);
  }

  button {
    font-weight: 700;
  }

  /*Animação - Fade in/out*/

  .fadeOut {
    animation: hide .3s linear alternate;
}

@keyframes hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

.fadeIn {
    animation: show .3s linear alternate;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

 /* -- Tabuleiro --*/

 .tabuleiro-de-jogo {
  display: none;
  padding: 30px;
  border-radius: 8px;
  background: var(--cor-branco);
  text-align: center;
  box-shadow: 6px 4px 20px rgba(0, 0, 0, .1,),
              inset 6px 4px 12px rgba(0, 0, 0, .2);
 }

 table td {
  width: 3em;
  height: 3em;
  font-size: 2em;
  text-align: center;
  background: #ff9eb150;  
  border: 2px solid var(--cor-branco);
  border-radius: 8px;
  cursor: pointer;
  transition: .4s linear;
 }

 .reset {
  cursor: pointer;
  color: #f75842;
  padding: 8px 18px;
  margin-top: 30px;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 3px solid #B33951;
  transform: .4s;
 }

 .reset:hover {
  color: var(--cor-branco);
  background: var(--cor-perigo);
 }

  /* -- vencedor --*/

 .vencedor {
  /* display: none; */
  padding: 40px 50px;
  border-radius: 8px;
  background: #f9f9f9;
  text-align: center;
  box-shadow: 6px 4px 20px rgba(0, 0, 0, .1),
              inset 6px 4px 12px rgba(0, 0, 0, .2);
}

.vencedor h3 {
  font-size: 30px;
  font-weight: 500;
  font-variant: small-caps;
}


  