
:root {
  
  --cor-bg: #1f2641;
  --cor-bg1: #2e3267;
  --cor-bg2: #424890;
  --cor-primaria: #151320;

  --cor-sucesso: #00bf8e;
  --cor-alerta: #f7c94b;
  --cor-perigo: #f75842;
  --cor-perigo-variante: rgba(247, 88, 66, 0.4);

  --cor-branco: #fff;  
  --cor-cinza:#eee;
  --cor-cinza-variante: rgba(255, 255, 255, 0.7);
  --cor-preto: #000;
  
  --cor-roxo: #454cad;
  --cor-azul-var: #5f6982;
  --cor-verde: #3be7bc;
  --cor-azul:#2192FF;
  
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
    
}

* {    
    padding: 0;
    border: 0; 
    outline: 0;          
    box-sizing: border-box;       
  } 
  
  
  body {    
    height: 100vh;
    font-family: 'Roboto', sans-serif;    
    align-items: center; 
    justify-content: center;
    background: var(--cor-bg);    
    background-image: url(../img/bg-texture.png);
  }

  .acordeoes {
    position: relative;
    margin: 100px auto;
    width: 500px;  
  }

  input[type="checkbox"] {
    display: none;
  }

  .acordeoes label {
    display: flex;
    color: var(--cor-branco);
    padding: 15px 20px;
    cursor: pointer;
    background-color: var(--cor-azul);
    /* font-weight: 700;
    text-transform: uppercase; */
  }

  .acordeoes label::after {
    content: "\f077";
    font-family: fontawesome;
    right: 20px;
    position: absolute;
    transition: .5s;
  }

  .acordeoes input[type="checkbox"]:checked ~ label::after {
    transform: rotate(180deg);
  }

  .acordeoes input[type="checkbox"]:checked ~ .acordeao-conteudo {
    height: auto;
  }

  .acordeoes-main {
    margin-top: 10px;
    box-shadow: 0px 0px 5px var(--cor-cinza);
    background-color: var(--cor-branco);
  }

  .acordeao-conteudo {    
    height: 0;
    overflow: hidden;
  }

  .acordeao-conteudo p {
    padding: 10px 20px;
  }




