
:root {
  --cor-primaria: #151320;
  --cor-sucesso: #00bf8e;
  --cor-alerta: #f7c94b;
  --cor-perigo: #f75842;
  --cor-perigo-variante: rgba(247, 88, 66, 0.4);
  --cor-branco: #fff;
  --cor-clara: rgba(255, 255, 255, 0.7);
  --cor-escura: #000;
  --cor-bg: #1f2641;
  --cor-bg1: #2e3267;
  --cor-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
    
}

* {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0;          
    box-sizing: border-box;       
  }
  
  
  body {    
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: var(--cor-bg);    
    background-image: url(../img/bg-texture.png);
  }
